---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout
    title="About | Gecko Projects"
    description="About Gecko Projects - Professional consulting and project management services."
    activePage="about"
    ogUrl="https://www.gecko-projects.com/about"
>
    <!-- About Me Section -->
    <section class="section">
        <div class="container">
            <div class="about-intro">
                <div class="about-portrait">
                    <img src={`${base}/images/portrait.png`} alt="Kathi Gerth"/>
                </div>
                <div class="about-text">
                    <h2>About Me</h2>
                    <p>Hi there,</p>
                    <p>I'm Kathi Gerth. Having worked in the International Education Industry for more than ten years, I am still fascinated by this wonderful and interesting industry which is a combination of my passions: education, people and languages. I have been able to work in a variety of positions and with a wide range people from all over the world.</p>
                    <p>Those who have the pleasure of working in the International Education Industry know that it is a very rewarding and diverse environment but at the same time it can be extremely busy! Due to travels, meetings, conferences and the regular day-to-day running of a language school, the list of things that need to be done is usually long and can be challenging to find experienced staff, make time to train people spend a huge amount of money on long term hires.</p>
                    <p>After having held senior positions in the Marketing and Operations departments of small to medium-sized businesses in the industry, I decided to start Gecko Projects to be able to help language schools with challenges they are facing.</p>
                    <p>Similar to a gecko, I am very adaptive to a new environment, a new project or challenge that is thrown at me. I am someone who calmly takes each new challenge in my stride with focus, energy and initiative and I am passionate about my work and go above and beyond to ensure it is carried out to the highest level.</p>
                    <p>Just get in touch to find out more!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Work With Me Section -->
    <section class="section section-alt">
        <div class="container">
            <div class="about-content">
                <h2>Why work with me?</h2>
                <p>The best way to get to know me and judge whether we'd be a good fit is to talk to me. During a first free consulting call, we can get to know each other, discuss what you are looking for and see if I could be the solution to your problems.</p>
                <p>You should work with me because:</p>
                <ul class="about-list">
                    <li>I have a solid history and reputation in the International Education Industry, including stellar references. For more details, please see my LinkedIn profile.</li>
                    <li>I have 12+ years experience managing both projects and people.</li>
                    <li>I offer a high level of commitment and flexibility and I know that confidentiality is of paramount importance.</li>
                    <li>I am used to delivering in a fast-paced working environment always keeping deadlines and the clients' needs in mind.</li>
                    <li>I am self-motivated with excellent multitasking skills.</li>
                    <li>I have dealt with thousands of international students, parents and agencies from all over the world.</li>
                    <li>I am very efficient, professional and thorough with a practical can-do attitude.</li>
                    <li>I am easy to get along with and I know what I'm talking about. I'm not afraid to tell you the truth and won't take on clients if I don't feel I can help them.</li>
                    <li>I won't take up any office space as I am working remotely.</li>
                </ul>
            </div>
        </div>
    </section>
</BaseLayout>
